
.entity
{
	margin-bottom: 98px;
  display: grid;

  &.middle {
    position: fixed;
  }
  &.top-bottom {
    position: relative;
  }
}



/* 'slide'|'row'|'large'|'medium'|'small'|'icon'  */



/*
'full'|'page'|'margin'|'icon'
*/
.image
{
  text-align: center;
  :hover {
    cursor: pointer;
  }
  &.margin {
    box-shadow: 2px 3px #888888;
    border: 1px solid #888888;
    margin: 12px 0;
    img {
      min-height: 100px;
      width: 100%;
    }
  }
  &.icon {
    img {
      border-radius: 50%;
      width: 100%;
    }
    width: 80%;
  }
  &.full {
    img {
      min-height: 100px;
      width: 100%;
    }
  }
  &.page {
    img {
      min-height: 100px;
      width: 80%;
    }
  }
}

.image:hover {
  filter: brightness(80%);
}
.image:hover .tool-onsite {
	opacity: 0.7;
}
.image .saving
{
  opacity: 0.2;
}

.round
{
	border-radius: 0.5;
}

.tool-onsite {
	position: absolute;
	opacity: 0.1;
	margin: 10px;
	padding: 10px;
}

.top-left {
	top: 0px;
	left: 0;
}

.bottom-left {
	bottom: 0px;
	left: 0;
}

.top-right {
	top: 0px;
	right: 0;
}

.bottom-right {
	bottom: 0px;
	right: 0;
}

.save {
	opacity: 0.8;
}
.deleted {
	filter: contrast(25%);
}



.entity
{
	margin-bottom: 98px;
	/* padding: 15px; */
  display: grid;

  &.middle {
    position: fixed;
  }
  &.top-bottom {
    position: relative;
  }
}




@media only screen and (max-width: 767px)
{
  .margin {
    box-shadow: none;
    border: none;
    margin: 0;
  }
}


.content {
  text-align: center;
  padding-top: 20px;

  .name
  {
    display: none;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .title
  {
    display: none;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .subtitle
  {
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .reference
  {
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .text
  {
    display: none;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }

  &.image-only {
    display: none;
  }

  &.image-title {
    .title {
      display: inline;
    }
  }

  &.text-only {
    .text {
      display: inline;
    }
  }

  &.all {
    .name {
      display: inline;
    }
    .title {
      display: inline;
    }
    .subtitle {
      display: inline;
    }
    .text {
      display: inline;
    }
  }

  &.quote {
    .text {
      display: inline;
    }
    .reference {
      display: inline;
      color: yellow;
    }
  }

  &.pastor {
    .name {
      display: inline;
    }
    .title {
      display: inline;
    }
  }
}


.lightText {
  .name {
    color: whitesmoke;
  }
  .title {
    color: whitesmoke;
  }
  .subtitle {
    color: whitesmoke;
  }
  .text {
    color: whitesmoke;
  }
}
