<div class="entity" [ngClass]="section.entityDisplayOptions.position">
  <div class="image" [ngClass]="section.entityDisplayOptions.imageStyle">
    <img [src]="image" [class.deleted]="entity.deleted" (click)= "imageClick()">
    <ng-container>
      <i class="btn btn-danger btn-outlined tool-onsite top-right fa fa-minus-circle"
         style="font-size:16px;color:Coral" (click)="onClickHide()" title="Hide">
      </i>
      <div style='height: 0px;width:0px; overflow:hidden;'>
        <input type="file" #file accept='image/*' (change)="OnChangeImage(file.files)">
      </div>
      <i class="btn btn-danger btn-outlined tool-onsite bottom-left fa fa-file-image-o"
        style="font-size:16px;color:GreenYellow" (click)="file.click()" title="Change image">
      </i>
      <i class="btn btn-danger btn-outlined tool-onsite bottom-right fa fa-cloud"
        style="font-size:16px;color:Navy" (click)="onSave()" *ngIf="isDirty" title="Save">
      </i>
    </ng-container>
  </div>
  <form class="content" [formGroup]="formChanges" [ngClass]="section.entityDisplayOptions.contentStyle">
    <input type="text" class="name" (changed)="setDirty()" formControlName="name">
    <textarea class="title" (input)="setDirty()" formControlName="title">{{ss.tr(entity.title)}}</textarea>
    <textarea  class="subtitle" (input)="setDirty()" formControlName="subTitle">{{ss.tr(entity.subTitle)}}</textarea>
    <textarea class="text" (input)="setDirty()" formControlName="text">{{ss.tr(entity.text)}}</textarea>
    <textarea class="reference" (input)="setDirty()" formControlName="reference">{{ss.tr(entity.reference)}}</textarea>
  </form>
</div>
