
	<!-- Quote -->

	<div class="quote" *ngIf="data.contactInfo && data.contactInfo.quote">
		<div class="quote_background" [style.background]="'url(/assets/images/quote.jpg)'"></div>

		<div class="container">
			<div class="row">
				<div class="col">
					<app-section light=true [section]="data.contactInfo.quote"></app-section>
				</div>
			</div>
			<div class="row quote_row">
				<div class="col text-center">
					<div class="quote_char"><img src="/assets/images/quote_char.png" alt=""></div>
					<div class="quote_text">{{data.tr(data.contactInfo.quote.description)}}</div>
					<div class="quote_source">{{data.tr(data.contactInfo.quote.source)}}</div>
				</div>
			</div>
		</div>
	</div>
