
	<!-- Causes -->

<app-section-container [section]="data.Sections.causes">
	<div class="row">
		<div class="col">
			<div class="causes_slider_container" *ngIf="data.Sliders.causes.length > 0">
				<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="data.Causes" class="causes_slider">
					<ngu-tile *nguCarouselDef="let item">
						<div class="owl-item text-center causes_item">
							<div class="causes_item_image"><img [src]="item.image" alt=""></div>
								<div class="causes_item_title">{{data.tr(item.title)}}</div>
								<div class="causes_item_text">
									<p>{{data.tr(item.text)}}</p>
								</div>
							</div>
						</ngu-tile>
						<button NguCarouselNext class="rightRs">&gt;</button>
					</ngu-carousel>
			</div>
		</div>
	</div>
</app-section-container>
