
<app-home [title]="title"></app-home>

<app-contact-map></app-contact-map>

	<!-- Contact Info -->

	<div class="contact_info" *ngIf="data.contactInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="contact_title">{{data.tr(ContactInfo)}}</div>
				</div>
			</div>
			<div class="row contact_info_row row-eq-height">

				<!-- Contact Info Content -->
				<div class="col-lg-6 d-flex flex-column align-items-start justify-content-end">
					<div class="row">
						<div class="col-lg-6 contact_info_col" *ngFor="let site of data.contactInfo.sites">
							<div class="contact_info_title">{{data.tr(site.name)}}</div>
							<ul class="contact_info_list">
								<li><span>Address: </span>{{site.address}}</li>
								<li class="footer_contact_phone">
									<span>Phone: </span>
									<div>
										<div *ngFor="let item of site.contactors[0].phoneNumbers">{{item}}</div>
									</div>
								</li>
								<li><span>Email: </span>{{site.email}}</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Info Image -->
				<div class="col-lg-6">
					<div class="contact_info_image"><img src="/assets/images/contact_image.jpg" alt=""></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Form -->

	<div class="contact_form_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="contact_title">{{data.tr(ContactUs)}}</div>
					<form action="#" class="contact_form">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="contact_input contacts_input_name" placeholder="Your Name" required="required">
							</div>
							<div class="col-md-6">
								<input type="email" class="contact_input contact_input_email" placeholder="Your E-mail" required="required">
							</div>
						</div>
						<textarea id="contact_text_area" placeholder="Your Message" class="contact_text"></textarea>
						<button class="contact_button trans_200">{{data.tr(Submit)}}</button>
					</form>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
