
/*********************************
6.1 Blog Sidebar
*********************************/

.blog_sidebar
{
	width: 100%;
}
.sidebar_section
{
	width: 100%;
	margin-bottom: 90px;
}
.sidebar_section:last-child
{
	margin-bottom: 0;
}
.sidebar_search_input
{
	width: 100%;
	height: 48px;
	background: #efefef;
	border: none;
	outline: none;
	padding-left: 20px;
}
.sidebar_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 56px;
	background: transparent;
	border: none;
	outline: none;
}
.sidebar_search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #8e8e8e !important;
}
.sidebar_search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #8e8e8e !important;
}
.sidebar_search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #8e8e8e !important;
}
.sidebar_search_input:-ms-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #8e8e8e !important;
}
.sidebar_search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #8e8e8e !important;
}
.sidebar_title
{
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}
.latest_news_container
{
	margin-top: 40px;
}
.latest_news:not(:last-child)
{
	margin-bottom: 20px;
}
.latest_news_image
{
	width: 69px;
	height: 69px;
}
.latest_news_image img
{
	max-width: 100%;
}
.latest_news_content
{
	padding-left: 30px;
}
.latest_news_date
{
	font-size: 11px;
	font-weight: 500;
	color: #eb4141;
}
.latest_news_title
{
	margin-top: 7px;
}
.latest_news_title a
{
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	line-height: 1.71;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.latest_news_title a:hover
{
	color: #eb4141;
}
.sidebar_list
{
	margin-top: 36px;
}
.sidebar_list ul li:not(:last-child)
{
	margin-bottom: 27px;
}
.sidebar_list ul li a
{
	width: 100%;
	font-size: 14px;
	color: #7c7c7c;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_list ul li a:hover
{
	color: #eb4141;
}
.sidebar_quote
{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 57px;
	padding-bottom: 57px;
	text-align: center;
}
.sidebar_quote_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sidebar_quote_text
{
	font-size: 14px;
	font-style: italic;
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 23px;
	line-height: 2.14;
}
.sidebar_quote_source
{
	margin-top: 30px;
	font-size: 18px;
	color: #e6c100;
	font-style: italic;
	font-weight: 500;
}
