	<!-- Services -->

	<div class="services" *ngIf="data.contactInfo && data.Activities">
		<div class="services_background" [style.background]="'url(/assets/images/services.jpg)'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section light=true [section]="data.contactInfo.activities"></app-section>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="services_text text-center" *ngIf="data.contactInfo.activities">
						<p>{{data.tr(data.contactInfo.activities.description)}}
						</p>
					</div>
				</div>
			</div>
			<div class="row services_row">

			<!-- Services Item -->
			<div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let item of data.Activities">
				<div class="services_item text-center">
					<div class="services_image"><img [src]="item.image" alt=""></div>
					<div class="services_title">{{data.tr(item.title)}}</div>
				</div>
			</div>

			</div>
		</div>
	</div>
