<div class="contact_info" *ngIf="data.contactInfo">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="contact_title">{{data.tr(ContactInfo)}}</div>
			</div>
		</div>
		<div class="row contact_info_row row-eq-height">

			<!-- Contact Info Content -->
			<div class="col-lg-6 d-flex flex-column align-items-start justify-content-end">
				<div class="row">
					<div class="col-lg-6 contact_info_col" *ngFor="let site of data.contactInfo.sites">
						<div class="contact_info_title">{{data.tr(site.name)}}</div>
						<ul class="contact_info_list">
							<li><span>Address: </span>{{site.address}}</li>
							<li class="footer_contact_phone">
								<span>Phone: </span>
								<div>
									<div *ngFor="let item of site.contactors[0].phoneNumbers">{{item}}</div>
								</div>
							</li>
							<li><span>Email: </span>{{site.email}}</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Contact Info Image -->
			<div class="col-lg-6">
				<div class="contact_info_image"><img [src]="data.path(data.contactInfo.contactImage)" alt=""></div>
			</div>
		</div>
	</div>
</div>

