
/*********************************
7. Contact Info
*********************************/

.contact_info
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 97px;
	padding-bottom: 98px;
}
.contact_title
{
	font-size: 24px;
	color: #000000;
	line-height: 0.75;
	font-weight: 500;
}
.contact_info_content
{
	width: 100%;
}
.contact_info_image
{
	width: 100%;
}
.contact_info_image img
{
	max-width: 100%;
}
.contact_info_location
{
	width: 100%;
}
.contact_info_title
{
	display: inline-block;
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	line-height: 1.4;
	border-bottom: solid 2px #eb4141;
}
.contact_info_list
{
	margin-top: 40px;
}
.contact_info_list li
{
	font-size: 14px;
	color: #6b6b6b;
	font-weight: 500;
	line-height: 1.71;
}
.contact_info_list li:not(:last-child)
{
	margin-bottom: 16px;
}
.contact_info_list li span
{
	color: #eb4141;
}


@media only screen and (max-width: 991px)
{
	.contact_info_col,
	.contact_info_image
	{
		margin-top: 91px;
	}
}
