
/*********************************
6. Ministries
*********************************/

.ministries
{
	padding-top: 97px;
	background: #FFFFFF;
}
.ministries_row
{
	margin-top: 98px;
}
.ministry
{
	margin-bottom: 98px;
}
.ministry_image
{
	width: 100%;
}
.ministry_image img
{
	max-width: 100%;
}
.ministry_title
{
	font-size: 24px;
	font-weight: 500;
	color: #000000;
	margin-top: 51px;
}
.ministry_text
{
	margin-top: 31px;
}
.ministry_button
{
	margin-top: 34px;
}
