
/*********************************
6. Intro
*********************************/

.intro
{
	padding-top: 60px;
	padding-bottom: 50px;
	background: #FFFFFF;
}
.intro_content
{
	margin-top: 85px;
}
.intro_text
{
	text-align: center;
	width: 100%;
	margin-top: -8px;
}
.intro_text p
{
	white-space: pre-line;
	font-size: x-large;
	font-weight: normal;
	font-style: italic;
	color: blue;
}
.intro_button
{
	margin-top: 50px;
}
.intro_image
{
	width: 100%;
}
.intro_image img
{
	max-width: 100%;
}



@media only screen and (max-width: 991px)
{
	.intro_image
	{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 575px)
{
	.intro_text
	{
		text-align: center;
		width: 100%;
		margin-top: -8px;
	}

	.intro_text p
	{
		font-size: 18px;
		font-weight: bold;
	}

}
