	<!-- Popular -->

	<app-section-container class="popular" [section]="data.Sections.popularSermons">
		<div class="row popular_row">
			<div class="col-lg-4" *ngFor="let item of data.PopularSermons">
				<div class="popular_item">
					<div class="popular_image">
						<a [href]="item.videoId" target="_blank"><img [src]="data.path(item.image)" alt=""></a>
					</div>
					<div class="sermon_content">
						<div class="sermon_title"><a routeLink="sermon_single.html">{{data.tr(item.title)}}</a></div>
						<ul class="sermon_list">
							<li>Sermon by: <a routeLink="#">{{data.tr(item.host.name)}}</a></li>
							<li>Categories:
								<a href="#">#sunday</a></li>
							<li>Date: <a routeLink="#">{{item.start | date: 'd MMM, yyyy'}}</a></li>
						</ul>
						<div class="sermon_text">
							<p>{{data.tr(item.description)}}</p>
						</div>
						<div class="sermon_buttons">
							<ul>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>

	<!-- Featured -->

	<div class="featured" *ngIf="data.featuredSermons">
		<div class="container-fluid">
			<div class="row">

				<!-- Featured 1 -->
				<div class="col-lg-6 featured_col" *ngFor="let item of data.featuredSermons">
					<div class="featured_background" [style.background]="data.path(item.image)"></div>
					<div class="featured_1">
						<div class="sermon_content">
							<div class="sermon_title">{{data.tr(item.title)}}</div>
							<ul class="sermon_list">
								<li>Sermon by: <a routeLink="#">{{data.tr(item.host.name)}}</a></li>
								<li>Categories:
									<a href="#">#sunday</a></li>
								<li>Date: <a routeLink="#">{{data.todaySermon.start | date: 'd MMM, yyyy'}}</a></li>
							</ul>
							<div class="sermon_text">
								<p>{{data.tr(item.description)}}</p>
							</div>
							<div class="sermon_buttons">
								<ul>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</app-section-container>
