.ministry
{
	margin-bottom: 98px;
}
.ministry_title
{
	font-size: 24px;
	font-weight: 500;
	color: #000000;
	margin-top: 51px;
	min-height: 200px;
}

.ministry_text
{
	margin-top: 31px;
}

.ministry_image
{
	width: 100%;
}
