<app-entity-edit groupName="ministries" [item]="item" [formChanged]="formChanged"
								 (itemCreated)="doItemCreated($event)"
								 (applyChanges)="applyChanges($event)"
								 (patchValue)="patchValue()"
								 width="100%" height="200px" borderColor="red" borderRadius="0"
								 >
	<form [formGroup]="formChanges">
		<div class="title">
			<textarea class="content" [readonly]="!data.adminMode" (input)="setDirty()" formControlName="title"></textarea>
		</div>
		<div class="text">
			<textarea class="content"  [readonly]="!data.adminMode" (input)="setDirty()" formControlName="text"></textarea>
		</div>
	</form>
</app-entity-edit>
