<div class="ministry">
	<div class="ministry_image">
		<img [src]="image" width="100%" [ngClass]="item.deleted? 'deleted': ''">
		<button type="button" id="fileUploadRemove" class="btn btn-danger btn-outlined" (click)="onClickHide()">Hide</button>
		<input type="file" #file accept='image/*' id="fileUploadBtn" (change)="OnChangeImage(file.files)">
	</div>
	<form (ngSubmit)="OnSave()" [formGroup]="formChanges">
		<div class="ministry_title">
			<textarea (input)="setDirty()" formControlName="title">{{data.tr(item.title)}}</textarea>
		</div>
		<div class="ministry_text">
			<textarea (input)="setDirty()" formControlName="text">{{data.tr(item.text)}}</textarea>
		</div>
		<div class="btn btn-danger btn-block">{{message}}</div>
		<input type="submit" class="btn btn-primary btn-block btn-lg" *ngIf="isDirty" value="Save">
	</form>
		<div class="btn btn-primary btn-block btn-lg" *ngIf="!isDirty">Read More</div>
</div>
