.container
{
position: absolute;
top: 50px;
}

.story-title
{
background-color: #6060ff;
color: #ffffff;
width: calc(100% - 20px);
font-family: sans-serif;
@media screen only and (min-width: 220px){
  width: 220px;
}
}