
/*********************************
12. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: darkred;
}
.newsletter_content
{
	height: 104px;
}
.newsletter_title
{
	font-size: 28px;
	color: #FFFFFF;
	font-weight: 500;
}
.newsletter_title::selection {
  background: darkred;
  color: whitesmoke;
}

.newsletter_form
{
	position: relative;
}
.newsletter_input
{
	width: 463px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
	border-bottom: solid 2px #ffd600;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 157px;
	height: 40px;
	background: #000000;
	color: #FFFFFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input:-ms-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}




@media only screen and (max-width: 991px)
{
	.news_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.newsletter_content
	{
		height: auto;
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.newsletter_form_container
	{
		margin-top: 30px;
	}
}


@media only screen and (max-width: 575px)
{
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_form_container
	{
		width: 100%;
	}
	.newsletter_form
	{
		width: 100%;
	}
	.newsletter_input
	{
		width: 100%;
		height: 40px;
	}
	.newsletter_button
	{
		width: 101px;
		height: 38px;
		font-size: 10px;
	}
}
