	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="newsletter_title">{{data.tr(label)}}</div>
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your email" required="required">
								<button id="newsletter_button" class="newsletter_button">{{data.tr(Subscribe)}}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- hi! -->