
	<!-- Sermon -->

	<div class="sermon" *ngIf="data.contactInfo">
		<div class="sermon_background" style="background-image:url(/assets/images/sermon.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.todaySermon"></app-section>
				</div>
			</div>
			<div class="row sermon_row" *ngIf="data.today">

				<!-- Sermon Image -->
				<div class="col-lg-6">
					<div class="sermon_image">
						<a [href]="data.today.link" target="_blank"><img [src]="data.today.image" alt=""></a>
					</div>
				</div>

				<!-- Sermon Content -->
				<div class="col-lg-6">
					<div class="sermon_content">
						<div class="sermon_title">{{data.tr(data.today.title)}}</div>
						<ul class="sermon_list">
							<li>Sermon by: <a [routerLink]="['/']">{{data.tr(data.today.preacher)}}</a></li>
							<li>Categories:
								<a [routerLink]="['/']" *ngFor="let cat of data.today.categories">{{cat}}</a></li>
							<li>Date: <a [routerLink]="['/']">{{data.format(data.today.timestamp, 'd MMM, yyyy')}}</a></li>
						</ul>
						<div class="sermon_text">
							<p>{{data.tr(data.today.text)}}</p>
						</div>
						<div class="button sermon_button"><a [routerLink]="['/sermons']">Read More</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
