
.entity
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

  .image {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name { display: none; }
    .title { display: none; }
    .subtitle { display: none; }
    .text { display: none; }
    .reference { display: none; }
    .links { margin-top: 4vh;}
  }

  &.frontpage {
    width: 100%;
    .image {
      display: none;
    }
    .content {
      .title {
        display: block;
        font-size: 100px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;
      }
      .text {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: yellow;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &.greeting {
    width: 100%;
    flex-direction: row-reverse;
    .content {
      .text {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: navy;
      }
    }
  }
  &.sermon {
    width: 100%;
    flex-direction: row;
    .content {
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: navy;
      }
    }
  }
  &.quote {
    width: 100%;
    flex-direction:column;
    .content {
      .text {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: whitesmoke;
      }
      .reference {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: yellow;
      }
    }
  }
  &.item {
    .content {
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  &.person {
    .content {
      .name {
        display: block;
        font-size: 24px;
        font-weight: 500;
      }
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: darkgray;
      }
    }
  }
}



/* 'slide'|'row'|'large'|'medium'|'small'|'icon'  */

/*
'full'|'page'|'margin'|'icon'
*/
.image
{
  margin: auto;
  text-align: center;

  :hover {
    cursor: pointer;
  }

  img {
    margin: auto;
    &.full {
      width: 100%;
      padding: 1px;
    }
    &.page {
      width: 100%;
    }
    &.margin {
      width: 100%;
      box-shadow: 2px 3px #888888;
      border: 1px solid #888888;
    }
    &.icon {
      width: 90%;
      border-radius: 50%;
    }
  }

}

.tool-onsite:hover {
  filter: brightness(80%);
  opacity: 0.99;
}

.round { border-radius: 0.5; }

.tool-onsite {
	position: absolute;
	opacity: 0.75;
	// margin: 10px;
  padding: 10px;

  &.top-left {
  	top: -20px;
  	left: 0;
  }

  &.bottom-left {
  	bottom: 0px;
  	left: 0;
  }

  &.top-right {
  	top: -20px;
  	right: 0;
  }

  &.bottom-right {
  	bottom: 0px;
  	right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: auto;
  flex: 1;
  width: 100%;


  &.full {
    width: 640px;
  }
  &.page {
    width: 400px;
  }
  &.margin {
    width: 320px;
  }
  &.icon {
    width: 240px;
  }

  textarea {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: auto;
    width: -webkit-fill-available;
  }

  .editmode {
    border: 1px;
  }
  .title
  {
    align-self: stretch;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .name {
    resize: none;
    white-space: nowrap;
  }

  &.item {
    display: none;
  }

  &.frontpage {
    .name {
      display: none;
    }
    .title {
      font-size: 72px;
      font-weight: 700;
      color: #FFFFFF;
      margin-top: 29px;
    }
    .subtitle {
      display: none;
    }
    .text {
      display: none;
    }
    .reference {
      display: none;
    }
  }

  &.item {
    .name {
      display: none;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      display: none;
    }
    .text {
      display: none;
    }
    .reference {
      display: none;
    }
  }

  &.greeting {
    .name {
      display: none;
    }
    .title {
      display: none;
    }
    .subtitle {
      display: none;
    }
    .text {
      align-self: stretch;
      font-size: large;
      font-weight: bolder;
      font-style: italic;
      color: navy;
    }
  }

  // &.sermon {
  //   .name {
  //     font-size: 18px;
  //   }
  //   .title {
  //     font-size: 24px;
  //   }
  //   .subtitle {
  //     font-size: 18px;
  //   }
  //   .text {
  //     font-size: 18px;
  //   }
  // }

  &.quote {
    .name {
      display: none;
    }
    .title {
      display: none;
    }
    .subtitle {
      display: none;
    }
    .text {
      font-size: 22px;
      font-style: italic;
    }
    .reference {
      font-size: 18px;
      color: yellow;
    }
  }

  // &.person {
  //   .name {
  //     font-size: 24px;
  //     margin: auto;
  //   }
  //   .title {
  //     font-size: 18px;
  //   }
  //   .subtitle {
  //     display: none;
  //   }
  //   .text {
  //     display: none;
  //   }
  // }
}

.save {
	opacity: 0.9;
}
.deleted {
	filter: contrast(25%);
}
.lightText {
  .name {
    color: whitesmoke;
  }
  .title {
    color: whitesmoke;
  }
  .subtitle {
    color: whitesmoke;
  }
  .text {
    color: whitesmoke;
  }
}

textarea {
  white-space: pre-wrap;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  resize: none;
  margin: auto;
}


.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance: none;
	-webkit-touch-callout:none;
}

@media only screen and (max-width: 767px)
{
  .margin {
    box-shadow: none;
    border: none;
    margin: 0;
  }
}

@media only screen and (max-width: 991px)
{
  .entity {
    &.frontpage {
      .content {
        .title {
          font-size: 56px;
        }
      }
    }
    &.greeting {
      flex-direction: column-reverse;
      .content {
        .text {
          display: block;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    &.sermon {
      flex-direction: column;
    }
  }
}

