
.entity
{
	margin-bottom: 98px;
  display: grid;

  &.middle {
    position: fixed;
  }
  &.top-bottom {
    position: relative;
  }
}


/* 'slide'|'row'|'large'|'medium'|'small'|'icon'  */

/*
'full'|'page'|'margin'|'icon'
*/
.image
{
  text-align: center;
  :hover {
    cursor: pointer;
  }
  &.margin {
    box-shadow: 2px 3px #888888;
    border: 1px solid #888888;
    margin: 12px 0;
    img {
      min-height: 100px;
      width: 100%;
    }
  }
  &.icon {
    img {
      border-radius: 50%;
      width: 100%;
    }
    width: 80%;
  }
  &.full {
    img {
      min-height: 100px;
      width: 100%;
    }
  }
  &.page {
    img {
      min-height: 100px;
      width: 80%;
    }
  }
}

.tool-onsite:hover {
  filter: brightness(80%);
  opacity: 0.99;
}

.round { border-radius: 0.5; }

.tool-onsite {
	position: absolute;
	opacity: 0.3;
	// margin: 10px;
  padding: 10px;

  &.top-left {
  	top: -20px;
  	left: 0;
  }

  &.bottom-left {
  	bottom: 0px;
  	left: 0;
  }

  &.top-right {
  	top: -20px;
  	right: 0;
  }

  &.bottom-right {
  	bottom: 0px;
  	right: 0;
  }
}

.content {
  text-align: center;
  padding-top: 20px;

  input, textarea {
    background-color: transparent;
    border: none;
  }

  .editmode {
    border: 1px;
  }
  .title
  {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }

  &.image-only {
    display: none;
  }

  &.image-title {
    .name {
      display: none;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      display: none;
    }
    .text {
      display: none;
    }
    .reference {
      display: none;
    }
  }

  &.text-only {
    .name {
      display: none;
    }
    .title {
      display: none;
    }
    .subtitle {
      display: none;
    }
    .text {
      font-size: 18px;
    }
  }

  &.all {
    .name {
      font-size: 18px;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 18px;
    }
    .text {
      font-size: 18px;
    }
  }

  &.quote {
    .name {
      display: none;
    }
    .title {
      display: none;
    }
    .subtitle {
      display: none;
    }
    .text {
      font-size: 22px;
      width: 80%;
      font-style: italic;
    }
    .reference {
      font-size: 18px;
      color: yellow;
    }
  }

  &.pastor {
    .name {
      font-size: 24px;
    }
    .title {
      font-size: 18px;
    }
    .subtitle {
      display: none;
    }
    .text {
      display: none;
    }
  }
}

.save {
	opacity: 0.9;
}
.deleted {
	filter: contrast(25%);
}
.lightText {
  .name {
    color: whitesmoke;
  }
  .title {
    color: whitesmoke;
  }
  .subtitle {
    color: whitesmoke;
  }
  .text {
    color: whitesmoke;
  }
}

textarea {
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  resize: none;
}

.unselectable {
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	-webkit-appearance:none;	
	-moz-appearance: none;
	appearance: none;
	-webkit-touch-callout:none; 
}

@media only screen and (max-width: 767px)
{
  .margin {
    box-shadow: none;
    border: none;
    margin: 0;
  }
}


