
<div class="entity" [ngClass]="section.entityDisplayOptions.position">
  <div class="image" [ngClass]="section.entityDisplayOptions.imageStyle">
    <img [src]="entity.image" (click)="imageClick()">
  </div>
  <div class="content" [ngClass]="section.entityDisplayOptions.contentStyle">
    <div class="name">{{ss.tr(entity.name)}}</div>
    <div class="title">{{ss.tr(entity.title)}}</div>
    <div class="subtitle">{{ss.tr(entity.subTitle)}}</div>
    <div class="text">{{ss.tr(entity.text||entity.description)}}</div>
    <div class="reference">{{ss.tr(entity.reference)}}</div>
  </div>
</div>
