
.entity
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  text-align: center;

  .image {
    margin: auto;
    text-align: center;

    :hover {
      cursor: pointer;
    }

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      margin: auto;
      &.full {
        width: 100%;
        padding: 1px;
      }
      &.margin {
        width: 100%;
        box-shadow: 2px 3px #888888;
        border: 1px solid #888888;
      }
    }
  }
  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 60px;
    margin: auto;
    flex: 1 1 auto;
    width: 100%;
    .name { display: none; }
    .title { display: none; }
    .subtitle { display: none; }
    .text { display: none; }
    .reference { display: none; }

    .links {
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    textarea {
      background-color: transparent;
      border: none;
      padding: 5px;
      margin: auto;
      white-space: pre-wrap;
      text-align: justify;
      -moz-text-align-last: center; // Firefox 12+
      text-align: -webkit-center;
      width: -webkit-fill-available;
      text-align-last: center;
      resize: none;
      margin: auto;
      cursor: pointer;
    }

    .editmode {
      border: 1px;
      cursor: crosshair;
    }
  }
  &.frontpage {
    width: 100%;
    .image {
      display: none;
    }
    .content {
      .title {
        display: block;
        // font-family: 'ZCOOL KuaiLe', sans-serif;
        font-size: 90px;
        font-weight: bolder;
        color: yellow;
        margin-top: 29px;
        margin-bottom: 0;
      }
      .text {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: yellow;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &.greeting {
    width: 100%;
    flex-direction: row-reverse;
    .image {
      width: 80%;
      padding: 10px;
    }
    .content {
      .text {
        display: block;
        font-size: large;
        font-weight: bolder;
        font-style: italic;
        color: navy;
        align-self: stretch;
      }
    }
  }
  &.greeting:nth-child(even) {
    flex-direction: row;
  }
  &.page {
  }
  &.sermon {
    width: 100%;
    flex-direction: row;
    .content {
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: navy;
      }
    }
  }
  &.quote {
    width: 100%;
    flex-direction:column;
    .content {
      .text {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: whitesmoke;
        font-style: italic;
      }
      .reference {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: yellow;
      }
    }
  }
  &.item {
    .image {
      width: 100%;
    }
    .content {
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  &.icon {
    .content {
      .title {
        display: block;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  &.person {
    .image {
      width: 90%;
      img{
        border-radius: 50%;
      }
    }
    .content {
      .name {
        display: block;
        font-size: 24px;
        font-weight: 500;
      }
      .title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: darkgray;
      }
    }
  }
}



.tool-onsite:hover {
  filter: brightness(80%);
  opacity: 0.99;
}

.round { border-radius: 0.5; }

.tool-onsite {
	position: absolute;
	opacity: 0.75;
	// margin: 10px;
  padding: 10px;

  &.top-left {
  	top: -20px;
  	left: 0;
  }

  &.bottom-left {
  	bottom: 0px;
  	left: 0;
  }

  &.top-right {
  	top: -20px;
  	right: 0;
  }

  &.bottom-right {
  	bottom: 0px;
  	right: 0;
  }
}

.save {
	opacity: 0.9;
}
.deleted {
	filter: contrast(25%);
}
.lightText {
  .name {
    color: whitesmoke;
  }
  .title {
    color: whitesmoke;
  }
  .subtitle {
    color: whitesmoke;
  }
  .text {
    color: whitesmoke;
  }
}


.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance: none;
	-webkit-touch-callout:none;
}

@media only screen and (max-width: 991px)
{
  .entity {
    &.frontpage {
      .content {
        .title {
          font-size: 62px;
        }
      }
    }
    &.greeting {
      flex-direction: column-reverse;
      .content {
        .text {
          display: block;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    &.sermon {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 767px)
{
  .margin {
    box-shadow: none;
    border: none;
    margin: 0;
  }
  .entity {
    &.frontpage {
      .content {
        .title {
          font-size: 42px;
        }
      }
    }
  }
}

