<div class="section" [id]="section.label">
  <ng-container [ngSwitch]="section.entityDisplayOptions.size">
    <ng-container *ngSwitchCase="'slide'">
      <app-home-slider></app-home-slider>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="otherSize"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #slideMode>
  <ngu-carousel [inputs]="carouselTileConfig" [dataSource]="entitySource|async">
    <ngu-tile *nguCarouselDef="let item; let i = index">
      <div class="background">
        <img class="home_slider_image" [src]="item.image">
        <div class="home_slider_content text-center">
          <div class="cross_1 d-flex flex-column align-items-center justify-content-center">
            <img [src]="item.image">
          </div>
          <h1 class="slider-text">{{data.tr(item.title)}}</h1>
          <div class="button home_slider_button">
            <a (click)="contextService.jumpTo('welcome')">{{data.tr(comeAndJoinUs)}}</a>
          </div>
        </div>
      </div>
    </ngu-tile>
  </ngu-carousel>
</ng-template>

<ng-template #otherSize>
  <div class="background" [style.background]="backgroudImage()">
  </div>
  <div class="container">
    <div class="row" *ngIf="section.title">
      <div class="col">
        <div class="section_title_container">
          <div class="section_image"><img [src]="section.icon" alt=""></div>
          <div class="section_title" [class.text-light]="section.lightText"><h2>{{ss.tr(section.title)}}</h2></div>
          <div class="section_subtitle" [class.text-light]="section.lightText">{{ss.tr(section.subtitle)}}</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="data.adminMode;then adminMode else runMode">
    </ng-container>
  </div>

  <ng-template #adminMode>
    <input type="checkbox" [(ngModel)]="checked" checked data-toggle="toggle"><label>Create a new item</label>
    <div *ngIf="checked" [class]="bootstrapColumnClasses">
      <app-new-entity-edit [collectionPath]="collectionPath" [section]="section"></app-new-entity-edit>
    </div>
    <div class="row">
      <div *ngFor="let entity of entitySource|async" [class]="bootstrapColumnClasses">
        <app-new-entity-edit (routeTo)="routeTo.emit($event)" [collectionPath]="collectionPath" [entity]="entity" [section]="section" *ngIf="data.adminMode"></app-new-entity-edit>
      </div>
    </div>
  </ng-template>

  <ng-template #runMode>
    <ng-container *ngIf="section.entityDisplayOptions.size==='intro'; then intro else list">
    </ng-container>

    <ng-template #intro>
      <div *ngFor="let entity of entitySource|async" class="row">
        <div class="col-lg-6">
          <div class="intro_text">
            <p>{{data.tr(entity.text||entity.description)}}</p>
          </div>
        </div>

        <!-- Intro Image -->
        <div class="col-lg-6">
          <div class="intro_image"><img [src]="data.path(entity.image)" alt=""></div>
          <div class="button intro_button"><a (click)="contextService.setPage('church')">Read More</a></div>
        </div>
      </div>
    </ng-template>

    <ng-template #list>
      <div class="row">
        <div *ngFor="let entity of entitySource|async" [class]="bootstrapColumnClasses">
          <app-entity (routeTo)="routeTo.emit($event)" [entity]="entity" [section]="section" *ngIf="!data.adminMode"></app-entity>
        </div>
      </div>
    </ng-template>

  </ng-template>

</ng-template>