.section
{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #FFFFFF;
}

.background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home_slider_image {
	width: 100%;
	height: 100%;
}

.section_title_container
{
  text-align: center;
  padding-bottom: 90px;
}
.section_title
{
  margin-top: 10px;
  font-weight: 500;
}
.section_subtitle
{
	font-family: 'Noto Sans SC', serif;
	font-size: 24px;
	margin-top: -6px;
}

.light-text
{
	color: #ffffff;
}

.dark-text
{
	color: #1d1d1d;
}


@media only screen and (max-width: 575px)
{
	.section_subtitle
	{
		font-size: 16px;
	}
}
