	<!-- Header -->
	<header class="header" [class.scrolled]="headerScrolled">

		<!-- Header Content -->

		<div class="header_container d-flex flex-row align-items-center justify-content-start" *ngIf="es.root; let church">
			<div class="container-fluid">
				<div class="row" *ngIf="ss.adminMode">
          <div class="col alert">
            <div alert>You are in admin mode</div>
          </div>
				</div>
				<div class="row" [class.menu-shrink]="contextMenu.length > 2">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">

							<!-- Logo -->
							<div class="logo_container">
								<div class="logo">
									<a routeLink="#">
										<img height="100%" src="/assets/images/logo.png" [alt]="ss.tr(church.title)">
										<span>{{ss.tr(church.title)}}
										</span>
									</a>
								</div>
							</div>

							<!-- Navigation and Search -->
							<div class="header_nav_container ml-auto">
								<nav class="main_nav">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li *ngFor="let menu of contextMenu" [class.active]="activeMenuItem==menu.route">
											<a (click)="setMenu(menu.route)">{{ss.tr(menu.title)}}</a>
										</li>
										<li>
                      <a (click)="toggleLanguage()">
                        <fa-icon class="language" [icon]="faLanguage" aria-hidden="true" title="[{{ss.tr(switchLanguage)}}]" size="lg">
                        </fa-icon>
                      </a>
										</li>
									</ul>
								</nav>
							</div>

							<!-- Hamburger -->
							<div class="hamburger ml-auto" (click)="toggleMenu()">
                <fa-icon [icon]="faBars" aria-hidden="true" title="[{{ss.tr(switchLanguage)}}]" size="lg">
                </fa-icon>
              </div>
						</div>
					</div>
				</div>
			</div>

		</div>

  </header>


  <div class="header-placeholder"></div>


	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-center justify-content-center"  [class.scrolled]="headerScrolled" [class.active]="menuActive">
		<div class="menu_content">
			<nav class="menu_nav">
				<ul>
					<li *ngFor="let menu of contextMenu" [class.active]="activeMenuItem==menu.route">
						<a (click)="toggleMenu(menu.route)">{{ss.tr(menu.title)}}</a>
					</li>
          <li>
            <a (click)="toggleLanguage()"><i class="fa fa-language" aria-hidden="true">{{ss.tr(switchLanguage)}}</i></a>
          </li>
        </ul>
			</nav>
		</div>
	</div>
