	<!-- Header -->
	<header class="header" [class.scrolled]="headerScrolled">

		<!-- Header Content -->

		<div class="header_container">
			<div class="container-fluid">
				<div class="row" *ngIf="data.adminMode">
          <div class="col alert">
            <div alert>You are in admin mode</div>
          </div>
				</div>
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">

							<!-- Logo -->
							<div class="logo_container">
								<div class="logo">
									<a routeLink="#">
										<img height="100%" src="/assets/images/logo.png" [alt]="data.tr(data.churchTitle)">
										<span>{{data.tr(data.churchTitle)}}
										</span>
									</a>
								</div>
							</div>

							<!-- Navigation and Search -->
							<div class="header_nav_container ml-auto">
								<nav class="main_nav">
									<ul>
										<li *ngFor="let menu of data.Menu" [class.active]="activeMenuItem==menu.route">
											<a [routerLink]="[menu.route]" (click)="setMenu(menu.route)">{{data.tr(menu.title)}}</a>
										</li>
										<li class="language" (click)="toggleLanguage()">
											<i class="fa fa-language" aria-hidden="true" title="[{{data.tr(data.switchLanguage)}}]"></i>
										</li>
									</ul>
								</nav>
							</div>

							<!-- Hamburger -->
							<div class="hamburger ml-auto" (click)="toggleMenu()">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

  </header>

  <div class="header_content" [class.scrolled]="headerScrolled"></div>


	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-center justify-content-center" [class.active]="menuActive">
		<div class="menu_content">
			<nav class="menu_nav">
				<ul>
					<li *ngFor="let menu of data.Menu" [class.active]="activeMenuItem==menu.route">
						<a [routerLink]="[menu.route]" (click)="toggleMenu(menu.route)">{{data.tr(menu.title)}}</a>
					</li>
				</ul>
				<div class="language" (click)="toggleLanguage()">
					<i class="fa fa-language" aria-hidden="true">{{data.tr(data.switchLanguage)}}</i>
				</div>
			</nav>
		</div>
	</div>
