
/*********************************
3. Header
*********************************/

.header
{
	height: 115px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
  .logo a {
    span {
    	font-family: 'Ma Shan Zheng', sans-serif;
    	font-size: 48px;
    	font-weight: bolder;
    	color: firebrick;
    	vertical-align: middle;
    }
    img {
    	display: left;
    	vertical-align: middle;
    	height: 64px;
    }
  }
  &.scrolled
  {
  	top: 0;
    box-shadow: 1px 1px #888888;
    height: 48px;
    .logo a {
      span {
        font-size: 24px;
      }
      img {
        height: 32px;
      }
    }
  }
}


.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
  transition: all 400ms ease;
}

logo_container {
  padding: 5px;

}

.main_nav
{
	display: inline-block;
  ul li {
  	display: inline-block;
  	font-size: large;
  	color: blue;
  	font-weight: 500;
  	-webkit-transition: all 200ms ease;
  	-moz-transition: all 200ms ease;
  	-ms-transition: all 200ms ease;
  	-o-transition: all 200ms ease;
  	transition: all 200ms ease;
    a {
    	display: block;
    	padding: 10px 28px;
    }
    :hover {
    	background-color: lightcyan;
    }
    &.active {
    	background-color: lightpink;
    }
  }
}
.language
{
  height: 48px;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	color: #eb4141;

	font-size: large;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;

  :hover {
  	background-color: aquamarine;
  }
}

.hamburger
{
	display: none;
	cursor: pointer;
	margin-right: 10px
  i {
  	font-size: 20px;
  	color: #353535;
  	-webkit-transition: all 200ms ease;
  	-moz-transition: all 200ms ease;
  	-ms-transition: all 200ms ease;
  	-o-transition: all 200ms ease;
  	transition: all 200ms ease;
  }
  :hover i {
  	color: #eb4141;
  }
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	margin-top: 48px;
	right: 5px;
	padding: 7px;
	background: rgba(235, 220, 16, 0.98);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;

  &.scrolled {
  	margin-top: 36px;
  }

  &.active {
  	visibility: visible;
    opacity: 0.88;
  }
}

.menu_nav {
	margin-top: 0px;
	text-align: center;
  ul li a {
  	display: block;
  	font-size:large;
  	font-weight: bold;
  	color: blue;
  	padding: 12px;
    :hover {
    	background-color: aquamarine;
    	color: #eb4141;
    }
  }
}

.menu_close
{
	position: absolute;
	top: 100px;
	right: 100px;
	cursor: pointer;
  i {
  	font-size: 20px;
  }
  :hover i {
  	color: #eb4141;
  }
}

.alert {
  position: absolute;
  background-color: orange;
  color: white;
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  margin: auto;
  padding: auto;
  text-align: center;
  display: inline-block;
}

@media only screen and (max-width: 1124px)
{
	.header_nav_container
	{
		display: none;
	}
	.hamburger
	{
		display: block;
  }
}

@media only screen and (max-width: 767px)
{
	.top_bar {
		display: none;
	}
	.header.scrolled {
		top: 0px;
  }
  .menu {
    top: 0px;
  }
  .header_content {
    .logo_container .logo a {
      span {
        font-size: 24px;
      }
      img {
        height: 32px;
      }
    }
  }
}

@media only screen and (max-width: 575px)
{
	.header_content
	{
    height: 48px;
	}
  .logo a span
  {
		font-size: 24px;
  }
  .logo a img
  {
	  height: 48px;
  }
}

@media only screen and (max-width: 319px)
{
	.header_content
	{
    height: 48px;
	}
  .logo a span
  {
		display: none;
  }
  .logo a img
  {
	  height: 32px;
  }
}

