
/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: 0;
  box-shadow: 1px 1px #888888;
}
.scrolled .header_content
{
  height: 48px;
}

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 115px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

logo_container {
  padding: 5px;
}

.logo a span
{
	font-family: 'Ma Shan Zheng', sans-serif;
	font-size: 48px;
	font-weight: bolder;
	color: firebrick;
	vertical-align: middle;
}
.logo a img
{
	display: left;
	vertical-align: middle;
	height: 64px;
}

.header.scrolled {
  .logo a span {
    font-size: 24px;
  }
  .logo a img {
    height: 32px;
  }
}


.main_nav
{
	display: inline-block;
}
.main_nav ul li
{
	display: inline-block;
	font-size: large;
	color: blue;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a {
	display: block;
	padding: 14px 28px;
}
.main_nav ul li:hover
{
	background-color: lightcyan;
}
.main_nav ul li.active
{
	background-color: lightpink;
}
.language
{
	display: inline-block;
	padding: 30px;
	cursor: pointer;
	color: #eb4141;

	font-size: large;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.language:hover
{
	background-color: aquamarine;
}


.hamburger
{
	display: none;
	cursor: pointer;
	margin-right: 10px
}
.hamburger i
{
	font-size: 20px;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #eb4141;
}


/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	margin-top: 95px;
	right: 0px;
	padding: 7px;
	background: rgba(235, 220, 16, 0.98);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
  opacity: 0.88;
}
.menu_nav
{
	margin-top: 0px;
	text-align: center;
}
.menu_nav ul li a
{
	display: block;
	font-size:large;
	font-weight: bold;
	color: blue;
	padding: 15px;
}
.menu_nav ul li a:hover
{
	background-color: aquamarine;
	color: #eb4141;
}
.menu_close
{
	position: absolute;
	top: 100px;
	right: 100px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 20px;
}
.menu_close:hover i
{
	color: #eb4141;
}

.alert {
  position: absolute;
  background-color: orangered;
  color: white;
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  margin: auto;
  padding: auto;
  text-align: center;
  display: inline-block;
}

@media only screen and (max-width: 1124px)
{
	.header_nav_container
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
}

@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.header.scrolled
	{
		top: 0px;
	}
}

@media only screen and (max-width: 575px)
{
	.header_content
	{
    height: 48px;
	}
  .logo a span
  {
		font-size: 24px;
  }
  .logo a img
  {
	  height: 48px;
  }
}

@media only screen and (max-width: 319px)
{
	.header_content
	{
    height: 48px;
	}
  .logo a span
  {
		display: none;
  }
  .logo a img
  {
	  height: 32px;
  }
}

