	<app-home [title]="title"></app-home>

	<!-- Sermon -->

	<div class="sermon" *ngIf="data.contactInfo && data.today && data.PopularSermons">
		<div class="sermon_background" [style.background]="'url(/assets/images/sermon.png)'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.todaySermon"></app-section>
				</div>
			</div>
			<div class="row sermon_row" *ngIf="data.today">

				<!-- Sermon Image -->
				<div class="col-lg-6">
					<div class="sermon_image">
						<a [href]="data.today.link" target="_blank"><img [src]="data.today.image" alt=""></a>
					</div>
				</div>

				<!-- Sermon Content -->
				<div class="col-lg-6">
					<div class="sermon_content">
						<div class="sermon_title"><a routeLink="sermon_single.html">{{data.tr(data.today.title)}}</a></div>
						<ul class="sermon_list">
							<li>Sermon by: <a routeLink="#">{{data.tr(data.today.preacher)}}</a></li>
							<li>Categories:
								<a [routerLink]="['/']" *ngFor="let cat of data.today.categories">#{{cat}}</a></li>
							<li>Date: <a [routerLink]="['/']">{{data.format(data.today.timestamp, 'd MMM, yyyy')}}</a></li>
						</ul>
						<div class="sermon_text">
							<p>{{data.tr(data.today.text)}}</p>
						</div>
						<div class="sermon_buttons">
							<ul>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Popular -->

	<div class="popular">
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.popularSermons"></app-section>
				</div>
			</div>
			<div class="row popular_row">

				<!-- Popular Sermon -->
				<div class="col-lg-6" *ngFor="let item of data.PopularSermons">
					<div class="popular_item">
						<div class="popular_image">
							<a [href]="item.link" target="_blank"><img [src]="item.image" alt=""></a>
						</div>
						<div class="sermon_content">
							<div class="sermon_title"><a routeLink="sermon_single.html">{{data.tr(item.title)}}</a></div>
							<ul class="sermon_list">
								<li>Sermon by: <a routeLink="#">{{data.tr(item.preacher)}}</a></li>
								<li>Categories:
									<a [routerLink]="['/']" *ngFor="let cat of item.categories">#{{cat}}</a></li>
								<li>Date: <a routeLink="#">{{data.format(data.today.timestamp, 'd MMM, yyyy')}}</a></li>
							</ul>
							<div class="sermon_text">
								<p>{{data.tr(item.text)}}</p>
							</div>
							<div class="sermon_buttons">
								<ul>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Featured -->

	<div class="featured">
		<div class="container-fluid">
			<div class="row">

				<!-- Featured 1 -->
				<div class="col-lg-6 featured_col" *ngFor="let item of data.Featured">
					<div class="featured_background" [style.background]="item.image"></div>
					<div class="featured_1">
						<div class="sermon_content">
							<div class="sermon_title">{{data.tr(item.title)}}</div>
							<ul class="sermon_list">
								<li>Sermon by: <a routeLink="#">{{data.tr(item.preacher)}}</a></li>
								<li>Categories:
									<a [routerLink]="['/']" *ngFor="let cat of item.categories">#{{cat}}</a></li>
								<li>Date: <a routeLink="#">{{data.format(data.today.timestamp, 'd MMM, yyyy')}}</a></li>
							</ul>
							<div class="sermon_text">
								<p>{{data.tr(item.text)}}</p>
							</div>
							<div class="sermon_buttons">
								<ul>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
									<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

