	<!-- Pastors -->
	<div class="pastors" *ngIf="data.contactInfo && data.Pastors">
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.pastors"></app-section>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="pastors_slider_container">

						<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="data.Pastors" class="pastors_slider">
							<ngu-tile *nguCarouselDef="let item">
								<div class="owl-item text-center pastors_item">
									<div class="pastors_item_image"><img [src]="'/assets/images/' + item.image" alt=""></div>
									<div class="pastors_item_title">{{data.tr(item.title)}}</div>
									<div class="pastors_item_text">
										<p>{{data.tr(item.text)}}</p>
									</div>
								</div>
							</ngu-tile>
							<button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
						</ngu-carousel>

						<div class="pastors_slider_nav pastors_slider_prev trans_200 d-flex flex-column align-items-center justify-content-center"><img src="/assets/images/arrow_l.png" alt=""></div>
						<div class="pastors_slider_nav pastors_slider_next trans_200 d-flex flex-column align-items-center justify-content-center"><img src="/assets/images/arrow_r.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>


