	<!-- Intro -->

	<div class="intro" *ngIf="data.contactInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.greeting"></app-section>
				</div>
			</div>
			<div class="row intro_content">

				<!-- Intro Text -->
				<div class="col-lg-6" *ngIf="data.contactInfo.greeting">
					<div class="intro_text">
						<p>{{data.tr(data.contactInfo.greeting.description)}}</p>
					</div>
				</div>

				<!-- Intro Image -->
				<div class="col-lg-6">
					<div class="intro_image"><img src="/assets/images/intro.jpg" alt=""></div>
					<div class="button intro_button"><a [routerLink]="['/home']">Read More</a></div>
				</div>
			</div>
		</div>
	</div>

