<div class="modal" id="story-form" [ngClass]="show? 'd-block': ''">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
        <button type="button" class="close" (click)="OnClickClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" *ngIf="story">
			<div class="preview">
				<img [src]="localUrl" width="100%" *ngIf="localUrl" class="imgPlaceholder">
			</div>
			<form (ngSubmit)="OnClickSaveChanges()" [formGroup]="formChanges">
          <div class="form-group row">
            <label for="localUrl" class="col-sm-4 col-form-label">File Name</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" formControlName="image" id="image" (change)="handleUpload($event)">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Title</label>
            <div class="col-sm-8">
							<div class="col-sm-8" formGroupName="title">
								<label class="col-sm-8"> English: </label>
									<input class="col-sm-8" type="text" formControlName="english">
								<label class="col-sm-8"> Chinese: </label>
									<input class="col-sm-8" type="text" formControlName="chinese">
							</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="subtitle" class="col-sm-4 col-form-label">Subtitle</label>
            <div class="col-sm-8">
							<div formGroupName="subtitle">
								<label> English:	<input type="text" formControlName="english"> </label>
								<label> Chinese:	<input type="text" formControlName="chinese"> </label>
							</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
							<div formGroupName="description">
								<label> English:	<input type="text" formControlName="english"> </label>
								<label> Chinese:	<input type="text" formControlName="chinese"> </label>
							</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="reference" class="col-sm-4 col-form-label">Reference</label>
            <div class="col-sm-8">
							<div formGroupName="reference">
								<label> English:	<input type="text" formControlName="english"> </label>
								<label> Chinese:	<input type="text" formControlName="chinese"> </label>
							</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="start" class="col-sm-4 col-form-label">Start From</label>
            <div class="col-sm-8">
              <input type="datetime" class="form-control" formControlName="start">
            </div>
          </div>
          <div class="form-group row">
            <label for="minutes" class="col-sm-4 col-form-label">Last</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="minutes">
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
							<div formGroupName="address">
								<label> English:	<input type="text" formControlName="english"> </label>
								<label> Chinese:	<input type="text" formControlName="chinese"> </label>
							</div>
            </div>
          </div>

          <div class="modal-footer">
            <p *ngIf="!deleted && confirmingHide">Click again to hide this post</p>
            <button *ngIf="!deleted && confirmingHide" type="button" class="btn btn-second" (click)="OnClickCancelHide()">Cancel</button>
            <button *ngIf="!deleted" type="button" class="btn btn-danger" (click)="OnClickHide()">Hide this post</button>

            <p *ngIf="deleted && confirmingRecover">Click again to recover this post</p>
            <button *ngIf="deleted && confirmingRecover" type="button" class="btn btn-second" (click)="OnClickCancelRecover()">Cancel</button>
            <button *ngIf="deleted" type="button" class="btn btn-danger" (click)="OnClickRecover()">Recover this post</button>
          </div>
          <div class="modal-footer">
            <p *ngIf="confirmingClose">Click again to cancel the editing</p>
            <button type="button" class="btn btn-secondary" (click)="OnClickClose()">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
