<app-entity-edit [groupName]="groupName" [item]="item" [formChanged]="formChanged"
								 (itemCreated)="doItemCreated($event)"
								 (applyChanges)="applyChanges($event)"
                 (patchValue)="patchValue()"
                 (imageClick)="imageClicked()"
								 width="100%" height="150px" borderColor="red" borderRadius="0"
								 >
	<form [formGroup]="formChanges">
		<div class="title">
			<textarea class="content" (input)="setDirty()" formControlName="title" [readonly]="!data.adminMode"></textarea>
		</div>
		<div class="text">
			<textarea class="content" (input)="setDirty()" formControlName="text" [readonly]="!data.adminMode"></textarea>
    </div>
		<div class="pdf" *ngIf="data.adminMode">
			<label>PDF view:</label>
      <input type="file" #pdf accept='application/pdf' formControlName="pdf" (change)="onFileChanged(pdf.files)">
      <p class="danger" *ngIf = "message">{{message}}</p>

      <label>Pictures view:</label>
      <input type="file" #pics accept='image/*' formControlName="pictures" multiple (change)="onPicturesChanged(pics.files)">
      <p class="danger" *ngIf = "uploadPicturesMessage">{{uploadPicturesMessage}}</p>
    </div>
	</form>
</app-entity-edit>
