<!-- <div class="contact_form_section">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="contact_title">{{data.tr(ContactUs)}}</div>
				<form class="contact_form">
					<div class="row">
						<div class="col-md-6">
							<input type="text" class="contact_input contacts_input_name" placeholder="Your Name" required="required">
						</div>
						<div class="col-md-6">
							<input type="email" class="contact_input contact_input_email" placeholder="Your E-mail" required="required">
						</div>
					</div>
					<textarea id="contact_text_area" placeholder="Your Message" class="contact_text"></textarea>
					<button class="contact_button trans_200">{{data.tr(Submit)}}</button>
				</form>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</div> -->
