
/*********************************
10. Quote
*********************************/

.quote
{
	width: 100%;
	padding-top: 97px;
	padding-bottom: 98px;
}
.quote_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
}
.quote .section_title h2,
.quote .section_subtitle
{
	color: #FFFFFF;
}
.quote_row
{
	margin-top: 55px;
}
.quote_text
{
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 30px;
	line-height: 2;
}
.quote_source
{
	font-size: 18px;
	color: #e6c100;
	margin-top: 26px;
}



@media only screen and (max-width: 575px)
{
	.quote_text,
	.quote_source
	{
		font-size: 14px;
	}
}

