@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
		font-weight: 400;
	}
	h2
	{
		font-size: 24px;
	}
	.button
	{
		width: 117px;
		height: 36px;
	}
	.button a
	{
		font-size: 10px;
		line-height: 36px
	}
}
