
	<!-- Sermon -->

	<div class="sermon">
		<div class="sermon_background" style="background-image:url(/assets/images/sermon.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.Sections.todaySermon"></app-section>
				</div>
			</div>
			<div class="row sermon_row">
				<!-- Sermon Image -->
				<div class="col-lg-6" *ngIf="data.todaySermon">
					<div class="sermon_image">
						<a [href]="data.todaySermon.videoId" target="_blank"><img [src]="data.todaySermon.image" alt=""></a>
					</div>
				</div>

				<!-- Sermon Content -->
				<div class="col-lg-6" *ngIf="data.todaySermon">
					<div class="sermon_content">
						<div class="sermon_title">{{data.tr(data.todaySermon.title)}}</div>
						<ul class="sermon_list">
							<li *ngIf="data.todaySermon.host">Sermon by: <a href="/">{{data.tr(data.todaySermon.host.name)}}</a></li>
							<li>Categories:
								<a href="/">Sunday service</a></li>
							<li>Date: <a href="/">{{data.todaySermon.start | date:'d MMM, yyyy'}}</a></li>
						</ul>
						<div class="sermon_text">
							<p>{{data.tr(data.todaySermon.description)}}</p>
						</div>
						<div class="sermon_buttons">
							<ul>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
							</ul>
							<a href="/">Read More</a>
						</div>
<!--
						<div class="button sermon_button"><a [routerLink]="['/sermons']">Read More</a></div> -->
					</div>
				</div>

			</div>
		</div>
	</div>
