
/*********************************
8. Pastors
*********************************/

.pastors
{
	width: 100%;
	padding-top: 97px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.pastors_slider_container
{
	width: 100%;
	margin-top: 85px;
}
.pastors_slider_nav
{
	position: absolute;
	top: 99px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #cbcbcb;
	cursor: pointer;
}
.pastors_slider_nav:hover
{
	background: #eb4141;
}
.pastors_slider_prev
{
	left: -95px;
}
.pastors_slider_next
{
	right: -95px;
}

ngu-tile /deep/ .tile {
	box-shadow: none;
}
