
/*********************************
8. Pastors
*********************************/

.pastors
{
	width: 100%;
	padding-top: 97px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.pastors_slider_container
{
	width: 100%;
	margin-top: 85px;
}
.pastors_item_image
{
	width: 215px;
	height: 215px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.pastors_item_image::after
{
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	border-radius: 50%;
	content: '';
	border: solid 10px #eb4141;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.pastors_item_image img
{
	max-width: 100%;
}
.pastors_item:hover .pastors_item_image::after
{
	visibility: visible;
	opacity: 1;
}
.pastors_item_title
{
	font-size: 24px;
	color: #000000;
	margin-top: 40px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.pastors_item_text
{
	font-size: 14px;
	color: #7c7c7c;
	font-weight: 500;
	margin-top: 4px;
}
.pastors_item:hover .pastors_item_title
{
	color: #eb4141;
}
.pastors_slider_nav
{
	position: absolute;
	top: 99px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #cbcbcb;
	cursor: pointer;
}
.pastors_slider_nav:hover
{
	background: #eb4141;
}
.pastors_slider_prev
{
	left: -95px;
}
.pastors_slider_next
{
	right: -95px;
}

ngu-tile /deep/ .tile {
	box-shadow: none;
}
