<app-section-container [section]="data.Sections.ministries">
	<div class="row story_row">
		<div class="col-xl-4 col-md-6" *ngIf="data.adminMode">
			<app-story-edit (itemCreated)="itemCreated($event)"></app-story-edit>
		</div>
		<div class="col-xl-4 col-md-6" *ngFor="let item of data.hideDeleted(data.Ministries)">
			<app-story-edit *ngIf="data.adminMode" [item]="item"></app-story-edit>
			<app-story-view *ngIf="!data.adminMode" [item]="item"></app-story-view>
		</div>

	</div>
</app-section-container>
