
	<!-- Home -->

	<div class="home">
		<div class="home_background" [style.background]="'url(/assets/images/sermon_single.jpg)'"></div>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content d-flex flex-row align-items-center justify-content-start">
							<div class="home_title">Sermon Single</div>
							<div class="home_breadcrumbs ml-auto">
								<ul class="breadcrumbs">
									<li><a href="index.html">Home</a></li>
									<li><a href="sermons.html">Sermons</a></li>
									<li>Sermon Single</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Sermon -->

	<div class="sermon">
		<div class="sermon_image_big"><img src="/assets/images/sermon_big.jpg" alt=""></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="sermon_title_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="sermon_content">
							<div class="sermon_title">Receive The Holy Spirit By Jesus Christ</div>
							<ul class="sermon_list">
								<li>Sermon by: <a href="#">Priest Jack Smith</a></li>
								<li>Categories: <a href="#">Jesus Christ</a>, <a href="#">Holy</a></li>
								<li>Date: <a href="#">Monday 11 March, 2018</a></li>
							</ul>

						</div>
						<div class="sermon_buttons ml-lg-auto">
							<ul>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_1.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_2.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_3.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_4.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_5.svg" alt=""></li>
								<li class="sermon_item"><img class="svg" src="/assets/images/sermon_6.svg" alt=""></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="sermon_text">
						<p>Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam magna vehicula.nteger nec bibendum lacus. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="sermon_text">
						<p>At finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam magna vehicula.nteger nec bibendum lacus. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="sermon_image_small"><img src="/assets/images/sermon_small.jpg" alt=""></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="sermon_pastor d-flex flex-row align-items-start justify-content-start">
						<div class="sermon_pastor_image_container">
							<div class="sermon_pastor_image"><img src="/assets/images/sermon_pastor.jpg" alt=""></div>
						</div>
						<div class="sermon_pastor_content">
							<div class="sermon_pastor_title">Michael Miths</div>
							<div class="sermon_pastor_subtitle">Lead Pastor</div>
							<div class="sermon_pastor_text">
								<p>Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="comment_form_container">
						<div class="comment_title">Leave a comment</div>
						<form action="#" class="comment_form">
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
								</div>
								<div class="col-md-6">
									<input type="email" class="comment_input comment_input_email" placeholder="Your E-mail" required="required">
								</div>
							</div>
							<textarea id="comment_text_area" placeholder="Your Comment" class="comment_text"></textarea>
							<button class="comment_button trans_200">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="newsletter_title">Subscribe to our newsletter</div>
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your email" required="required">
								<button id="newsletter_button" class="newsletter_button">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
