
	<!-- News -->

	<div class="news" *ngIf="data.contactInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<app-section [section]="data.contactInfo.latest"></app-section>
				</div>
			</div>
			<div class="row news_row" *ngIf="data.Latest">

				<!-- News Item -->
				<div class="col-lg-4 news_col" *ngFor="let post of data.Latest">
					<div class="news_item">
						<div class="news_image">
							<img [src]="'/assets/images/'+post.image" alt="">
							<div class="news_date d-flex flex-column align-items-center justify-content-center">
								<div class="news_day">{{post.date | date:'d'}}</div>
								<div class="news_month">{{post.date | date:'MMM y'}}</div>
							</div>
						</div>
						<div class="news_content">
							<div class="news_title">{{data.tr(post.title)}}</div>
							<div class="news_text">
								<p>{{data.tr(post.text)}}</p>
							</div>
							<div class="news_link"><a [routerLink]="['/blog']">Read More</a></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
